body {
	/* background */
    background-image:url(https://wallpapertag.com/wallpaper/full/e/9/0/147950-free-download-aesthetic-background-tumblr-1920x1080-for-retina.jpg);
	background-size:cover;
    background-repeat:no-repeat;
    background-position:top center;
    margin:40px;
}

#test{padding:20px}
h1{text-align:center; color:#FFF}
p{margin-bottom:10px; color:#FFF}


























